<%= form_for(@estreno, :html => { :multipart => true }) do |f| %>
  <% if @estreno.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@estreno.errors.count, "error") %> prohibited this estreno from being saved:</h2>

      <ul>
      <% @estreno.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :titulo %><br />
    <%= f.text_field :titulo %>
  </div>
  <div class="field">
    <%= f.label :sinopsis %><br />
    <%= f.text_area :sinopsis %>
  </div>
  <div class="field">
    <%= f.label :clasificacion %><br />
    <%= f.select :clasificacion, {"G" => "G", "PG" => "PG", "PG13" => "PG13", "R" => "R",  "Not Rated" => "Not Rated"} %>
  </div>
  <div class="field">
    <%= f.label :imagen %><br />
    <%= f.file_field :imagen %>
  </div>
  <div class="field">
    <%= f.label :fecha %><br />
    <%= f.date_select :fecha, { :start_year => 1990, :end_year => Time.now.year, 
    :prompt => {:year => 'Año', :month => 'Mes', :day => 'Día'}, :use_month_numbers =>  true, :order => [:year, :month, :day] } %>
  </div>
  <div class="field">
    <%= f.label :dvd %>
    <%= f.check_box :dvd %>
  </div>
  <div class="field">
    <%= f.label :bluray %>
    <%= f.check_box :bluray %>
  </div>
  <div class="field">
    <%= f.label :bluray3d %>
    <%= f.check_box :bluray3d%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
