<h1>ESTRENOS</h1>

<% @estrenos.each do |estreno| %>

<div class="estreno">
  <div class="info_estreno">
		<h4><%= estreno.titulo %></h4>
    <p><%= estreno.sinopsis %></p>
    <p><b>Clasificacion: </b><%= estreno.clasificacion %></p>
		<% if estreno.fecha != nil %>
    <p><b>Fecha: </b><%= estreno.fecha %></p>
    <% end %>
  </div>

	<div class="img_estreno">
		<% if estreno.imagen.exists? then %>
		<p><%= image_tag estreno.imagen.url(:thumb) %></p>
		<% else %>
		<p> No hay imagen relacionada a este estreno.</p>
		<% end %>
	</div>

	<div class="links_estreno">
    <span><%= link_to 'Show', estreno %>|</span>
    <span><%= link_to 'Edit', edit_estreno_path(estreno) %>|</span>
    <span><%= link_to 'Destroy', estreno, confirm: 'Are you sure?', method: :delete %></span>
	</div>
</div>
<% end %>
<hr />
<br />
<%= link_to 'New Estreno', new_estreno_path %> <br />
<%= link_to 'HOME', root_url %>
