<!DOCTYPE html>
<html>
<head>
  <title>Rentbox</title>
<%= stylesheet_link_tag "application" %>
<%= javascript_include_tag "application" %> 
<%= csrf_meta_tags %>
</head>

<div class="barra">

<br /><br />
<br /><br />

  <%= link_to 'INICIO', root_path %><br /><br />
  <%= link_to 'NUESTROS KIOSCOS',"/nuestros_kioscos/index" %><br /><br />
  <%= link_to 'ESTRENOS',estrenos_path  %><br /><br />
  <%= link_to 'COMO FUNCIONA', root_path %><br /><br />
  <%= link_to 'MI CUENTA', root_path %><br /><br />
  <%= link_to 'PLANES DE MEMBRESIA', "/planes_membresia/index" %>

</div>

<body>
<div class="marco">
<%= yield %>




<table border=0 cellPadding=0 cellSpacing=0>
  <TBODY>
    <TR>
      <TD height="33" background="../../Back Grounds/right_gr.gif"/>
      <TD align=middle bgcolor="#999999">
        <div align="center">
          <span class="mybody">
            <font face="Arial, Helvetica, sans-serif">
              <A href="/about/index">
                <font color="#FFFFFF">
                  About Us
                </font>
              </A>
                |
              <A href="/privacy_policy/index">
                <font color="#FFFFFF">Privacy Policy</font>
              </A>
                |
              <A href="/terms_of_use/index">
                <font color="#FFFFFF">
                  Terms of Service
                </font>
              </A>
            </font>
          </span>
        </div>
      </TD>
      <TD background="../../Back Grounds/left_gr.gif" />
    </TR>
    <TR> 
      <TD width=10 height="49" rowspan="2" background="../../Back Grounds/right_gr.gif"/>
      <TD width=884 height="0" align=middle bgcolor="#E9E9E9">
        <p align="center" class="copyright">
          <font face="Arial, Helvetica, sans-serif">
            Texto
          </font>
        </p>
      </TD>
      <TD width=10 rowspan="2" background="../../Back Grounds/left_gr.gif"/>
    </TR>
    <TR> 
      <TD align=middle bgcolor="#E9E9E9">
        <blockquote> 
          <blockquote> 
            <blockquote> 
              <blockquote> 
                <div align="center">
                  <p>
                    <span class="copyright">
                      Mas texto
                    </span>
                  </p>
                </div>
              </blockquote>
            </blockquote>
          </blockquote>
        </blockquote>
      </TD>
    </TR>
  </TBODY>
</TABLE>


</div>
</body>


</html>

