<!DOCTYPE html>
<html>
<head>
  <title>Rentbox</title>
<%= stylesheet_link_tag "application" %>
<%= javascript_include_tag "application" %> 
<%= csrf_meta_tags %>
</head>

<div class="barra">

<br /><br />
<br /><br />

  <%= link_to 'INICIO', root_path %><br /><br />
  <%= link_to 'NUESTROS KIOSCOS', root_path %><br /><br />
  <%= link_to 'ESTRENOS', estrenos_path %><br /><br />
  <%= link_to 'COMO FUNCIONA', root_path %><br /><br />
  <%= link_to 'MI CUENTA', root_path %><br /><br />
  <%= link_to 'PLANES DE MEMBRESIA', "/planes_membresia/index" %>

</div>

<body>
<div class="marco">
<%= yield %>
</div>
</body>


</html>

