<!DOCTYPE html>
<html>
<head>

  <title>Rentbox</title>
<%= stylesheet_link_tag "application","jquery.vector-map.css" %>
<%= javascript_include_tag "application","jquery-1.7.min.js","jquery.vector-map.js","beispiel_karte.js","menu.js"%> 
<%= csrf_meta_tags %>
</head>

<div class="barra">

<a href= root_path>
 <img src="/Mascota.png" />


<%= link_to 'Inicio', root_path %> <br /> <br />
<br /><br />
<br /><br />

  <%= link_to 'Nuestros kioscos',"/nuestros_kioscos/index" %><br /><br />
  <%= link_to 'Estrenos',estrenos_path  %><br /><br />
  <%= link_to 'Como funciona', "/tutorial/index" %><br /><br />
  <%= link_to 'Mi cuenta', "http://rentbox.dvmatic.com" %><br /><br />
  <%= link_to 'Planes de membresía', "/planes_membresia/index" %>
</div>
<!--<form>
<div id="menu" >
    <ul class="menu">
    <br/>
        <li><span> <%= link_to 'Inicio', root_path %> </span></li>
	<br/>
	<li><span> <%= link_to 'Nuestros kioscos',"/nuestros_kioscos/index" %> </span></li>
	<br/>
	<li><span> <%= link_to 'Estrenos',estrenos_path  %> </span></li>
	<br/>
	<li><span> <%= link_to 'Como funciona', "/tutorial/index" %> </span></li>
	<br/>
	<li><span> <%= link_to 'Mi cuenta', "http://rentbox.dvmatic.com" %> </span></li>
	<br/>
	<li><span> <%= link_to 'Planes de membresía', "/planes_membresia/index" %> </span></li> 
     <br/>
    </ul>
</div>
</form>-->

<div class="space"  >
<table  border="0" cellspacing="0" cellpadding="0"   >
  <!-- Sombra izquierda -->
  <td width=10 background="/general/sombra_derecha.gif" />
  <!-- Fin sombra izquierda -->
  <td>

  <table align="center" border="0" cellspacing="0" cellpadding="0">
        <TBODY>
    <!-- Inicio yield -->
    <tr>
      <td width="882">
        <img src="/rentbox3.svg"/>
      </td>
    </tr>
    <tr>
      <td width="882" bgcolor="#000000">
        <img src="/general/cinta.gif"/>

			<div id="imageScroller">
				<div id="viewer" class="js-disabled">
					<a class="wrapper" href="http://www.apple.com" title="Apple"><img class="logo" id="apple" src="/logos/apple.jpg" alt="Apple"></a>
					<a class="wrapper" href="http://mozilla-europe.org/en/firefox" title="Firefox"><img class="logo" id="firefox" src="/logos/firefox.jpg" alt="Firefox"></a>
					<a class="wrapper" href="http://jquery.com" title="jQuery"><img class="logo" id="jquery" src="/logos/jquery.jpg" alt="jQuery"></a>
					<a class="wrapper" href="http://twitter.com" title="Twitter"><img class="logo" id="twitter" src="/logos/twitter.jpg" alt="Twitter"></a>
					<a class="wrapper" href="http://jqueryui.com" title="jQuery UI"><img class="logo" id="jqueryui" src="/logos/jqueryui.jpg" alt="jQuery UI"></a>
				</div>
			</div>

        <img src="/general/cinta.gif"/>
      </td>
    </tr>
    <tr>
      <td>
        <%= yield %>
	<img src="/general/cinta.gif"/>
      </td>
    </tr>
    <!-- Fin yield -->

    <!-- Inicio Parte de abajo -->
    <tr>
      <td>
      <table border=0 align="center" border="0" cellspacing="0" cellpadding="0" id="footer">
        <TBODY>
          <TR>
            <TD height="33"/>
            <TD align=middle bgcolor="#999999">
              <div align="center">
                <span class="mybody">
                  <font face="Arial, Helvetica, sans-serif">
                    <A href="/about/index">
                      <font color="#FFFFFF">
                        About Us
                      </font>
                    </A>
                      |
                    <A href="/privacy_policy/index">
                      <font color="#FFFFFF">Privacy Policy</font>
                    </A>
                      |
                    <A href="/terms_of_use/index">
                      <font color="#FFFFFF">
                        Terms of Service
                      </font>
                    </A>
                  </font>
                </span>
              </div>
            </TD>
          </TR>
          <TR>
            <TD height="0" rowspan="2"/>
            <TD width=884 height="0" align=middle >
              
            </TD>
            <TD rowspan="2"/>
          </TR>
          <TR>
            <TD align=middle id="footer">
              <blockquote>
                <blockquote>
                  <blockquote>
                    <blockquote>
                      <div align="center">
                        <p>
                          <span class="copyright">
                            Copyright(c)2011 Grupo Tecnia Corp. All rights reserved.
			    <div class= "hide" id="copyright">Copyright &copy; 2011 <a href="http://apycom.com/">Apycom jQuery Menus</a></div>
                          </span>
                        </p>
                      </div>
                    </blockquote>
                  </blockquote>
                </blockquote>
              </blockquote>
            </TD>
          </TR>
        </TBODY>
      </TABLE>
    </td></tr>
    <!-- Fin Parte de abajo -->
  </table>



  </td>
  <!-- Sombra derecha -->
  <td width=10 background="/general/sombra_izquierda.gif" />
  <!-- Fin sombra derecha -->
        </TBODY>
</table>
</div>


</div>
</body>



</html>

